.icons:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.icon {
  cursor: pointer;
  text-decoration: none;
  font-size: 50px;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 45%;
  margin: 5px;
  color: white;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.socialMedia {
  display: flex;
}

.twitter:hover {
  color: #00acee;
  border-color: #00acee;
}
.github:hover {
  color: purple;
  border-color: purple;
  transition: s;
}

.linkedin:hover {
  color: blue;
  border-color: blue;
  border-radius: 5px;
  transition: 2s;
}
.facebook:hover {
  color: blue;
  transition: 2s;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCanvas {
  background-color: red !important;
  height: 85vh;
  width: 95vh;
  border-radius: 50%;
  margin: 5px;
  z-index: 0;
  overflow: hidden;
  border: 5px solid white;
}
.gamePicture {
  background: none;
  width: 150px;
  z-index: 1;
  margin-top: 50px;
  cursor: pointer;
}
.gamePicture:hover {
  animation: shake 10s;
  animation-iteration-count: infinite;
}

.backGroundNone {
  background: none;
}
.skorContainer {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skorNumber {
  font-size: 30px;
  color: black;
}

.gameSkor {
  color: black;
  font-size: 20px;
  font-weight: 800;
}
.skor {
  background: none;
  color: black;
  font-size: 50px;
  font-weight: 900;
}
.gameNames {
  color: black;
  font-size: 20px;
  font-weight: 750px;
  height: 50px;
  margin-top: 20px;
}
.gameChooseContainmr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.choose {
  color: white;
}
.chooseImg {
  margin-top: 15px;
}

.link {
  margin: 5px;
}
.profilPhoto {
  height: 100px;
}
.loading {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid blue;
  border-top: 10px solid rgb(255, 255, 255);
  border-bottom: 10px solid rgb(255, 255, 255);
}
.loadingTwo {
  margin: 35px;
  height: 35px;
  width: 35px;
  background-color: black;
  border: solid 5px;
  border-radius: 100%;
  border-style: groove;
  border-right: 10px black;
  border-left: 10px black;
  border-bottom: 10px black;
  border-top: 10px black;
  box-shadow: 6px 6px 6px 6px grey;
}
