.loginSingupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginContainer {
  background-color: purple;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  box-shadow: 10px 15px #888888;
  align-self: center;
}

.bg-none {
  background: none;
}
.m-7 {
  margin: 7px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}
login,
singup {
  height: 150px;
  background-color: purple;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
